version: '3.8'

services:
  api1:
    image: isadoramsouza/api-go-teste-1:latest
    hostname: api1
    environment:
      - DB_HOST=db
      - DB_USER=admin
      - DB_PASSWORD=rinha
      - DB_NAME=rinhabackenddb
      - DB_PORT=5432
    network_mode: host
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "8080"
    deploy:
      resources:
        limits:
          cpus: '0.37'
          memory: '60MB'

  api2:
    image: isadoramsouza/api-go-teste-1:latest
    hostname: api2
    environment:
      - DB_HOST=db
      - DB_USER=admin
      - DB_PASSWORD=rinha
      - DB_NAME=rinhabackenddb
      - DB_PORT=5432
    network_mode: host
    depends_on:
      db:
        condition: service_healthy
    expose:
    - "8080"
    deploy:
      resources:
        limits:
          cpus: '0.37'
          memory: '60MB'

  nginx:
    image: nginx:latest
    ports:
      - "9999:9999"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: '30MB'

  db:
    image: postgres:latest
    hostname: db
    expose:
    - "5432"
    environment:
      - POSTGRES_PASSWORD=rinha
      - POSTGRES_USER=admin
      - POSTGRES_DB=rinhabackenddb
    network_mode: host
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    deploy:
      resources:
        limits:
          cpus: '0.56'
          memory: '400MB'
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U admin -d rinhabackenddb'"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s